

html{
    background-image: url("images/5b7dbb7d0391f.png");
    background-size: cover;
    background-position: center;
}

body,
*{
    text-align: center;
    font-size: 1rem;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

h1{
    font-size: 7vw;
}
h2{
    font-size: 3vw;
    color: rgb(4, 20, 92);
    text-decoration-line: underline;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
}
p{
    font-size: 1vw;
}
a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration-line: none;
}
button{
    width: 10vw;
    padding: 1%;
    font-size: 1.2vw;
    border: outset 5px;
    border-radius: 2rem;
    border-color: white;
}

button.hover{

}
/*
@media screen and (max-width: 600px) {
    .cards{
    width: 90%;
    }
    h1{
        font-size: 12vw;
    }
    h2{
        font-size: 6.25vw;
    }
    p{
        font-size: 3vw;
    }
    button{
        width: 90%;
        font-size: 3.5vw;
    }
}
*/
    
.title{
    color: rgb(45, 158, 202);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 1000px;
    font-style: normal;
    text-decoration-line: underline;
}

.container{
    container:initial;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards{
    background-color: rgb(181, 201, 214);
    margin: 1%;
    width: 25%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: outset 10px;
    border-radius: 3rem; 
    border-color: rgb(75, 94, 158);
}

.imageholder{
    background-color: white;
    width: 60%;
    height: 45%;
    border: outset 7.5px;
    border-radius: 3rem;
    border-color: rgb(158, 158, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images{
    width: 90%;
    margin: 1%;
    background: center;
}

.textholder{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes grow{
    box-shadow: 10px 5px 50px black;
}