

html{
    background-image: url("images/5b7dbb7d0391f.png");
    background-size: cover;
    background-position: center;
}

body,
*{
    text-align: center;
    font-size: 1rem;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 10vw;
}
h2{
    font-size: 3vw;
    color: rgb(4, 20, 92);
    text-decoration-line: underline;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
}
p{
    font-size: 1vw;
}

a{
    align-items: center;
    text-decoration-line: none;
}
button{
    align-items: center;
    text-decoration-line: none;
    width: 10vw;
    padding: 1%;
    font-size: 1.2vw;
    border: outset 0.5vw;
    border-radius: 2rem;
    border-color: white;
}

 button:hover{
    animation-name: growbutton;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}
    
.title{
    color: rgb(45, 158, 202);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 1000px;
    font-style: normal;
    text-decoration-line: underline;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cards{
    background-color: rgb(181, 201, 214);
    margin: 1%;
    width: 25%;
    height: 35vw;
    border: outset 1vw;
    border-radius: 3rem; 
    border-color: rgb(75, 94, 158);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    transition: transform 0.3s ease-in-out;
}

.cards:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 5px black;
}
/*
.cards:hover{
    animation-name: growcard;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

*/
.imageholder{
    background-color: white;
    width: 60%;
    height: 45%;
    border: outset 0.75vw;
    border-radius: 3rem;
    border-color: rgb(158, 158, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images{
    width: 90%;
    margin: 1%;
}

.textholder{
    width: 75%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: border, border-color, border-radius, background-color ease;
    transition: transform 0.1s ease-in-out;
    
}
.textholder:hover{
    transform: scale(1.15);
    background-color: white;
    border: solid 0.2vw;
    border-color: black;
    border-radius: 2rem;
}

/*
.textholder:hover{
    animation-name: growtext;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
*/
@media screen and (max-width: 500px) {
    .cards{
        width: 125px;
        height: 175px;
    }
    h2{
        font-size: 15px;
    }
    p{
        font-size: 5px;
    }
    button{
        width: 50px;
        font-size: 7px;
    }
}

@media screen and (max-width: 200px) {
    h1{
        font-size: 20px;
    }
}

/*
@keyframes growcard{
    to{transform: scale(1.1);
    box-shadow: 3px 3px 10px black;}
}

@keyframes growbutton{
    to{transform: scale(1.3);
    box-shadow: 3px 3px 10px black;}
}

@keyframes growtext{
    to{transform: scale(1.25);
    background-color: white;
    border: solid 0.2vw;
    border-color: black;
    border-radius: 2rem;}
}
*/