

html{
    background-image: url("images/Site-community-image.webp");
    background-size: cover;
    background-position: center;
}

body,
*{
    text-align: center;
    font-size: 1rem;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 2.5rem;
    color: rgb(4, 20, 92);
    text-decoration-line: underline;
}

@media screen and (max-width: 500px) and (min-width: 400px) {
    .cards{
    width: 90%;
    }
    h1{
        font-size: 12vw;
    }
    h2{
        font-size: 6.25vw;
    }
    p{
        font-size: 3vw;
    }
    button{
        width: 4vw;
    }
}

    
.title{
    color: rgb(45, 158, 202);
    font-family: "Archivo Black", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration-line: underline;
}

.container{
    container:initial;
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards{
    margin: 40px;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    background-color: rgb(181, 201, 214);
    border: outset 10px;
    border-color: rgb(75, 94, 158);
}

.imagehold{
    width: 60%;
    border-radius: 2rem;
    border: outset 7.5px;
    border-color: rgb(158, 158, 158);
    background-color: white;
}

.images{
    width: 90%;
    margin: 10%;
}


button{
    width: 100px;
    font-size: 1rem;
    border-radius: 2rem;
    border: outset 5px;
}